<!DOCTYPE html>
<html lang="en">
<head>
<style>
.n{
    display:block;
    padding:.5rem 1rem;
    border:1px solid transparent;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
    border-radius:.25rem;
    color:#fff;
}
.n:hover{
    color: #3399ff;
    background-color: #e9ecef;
    text-decoration: none;
}
.n:active{
    color: #fff;
}

.v{
    display:block;
    padding:.5rem 1rem;
    border:1px solid transparent;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
    border-radius:.25rem;
    color: #fff;
    font-weight:bold;
}

.v:hover{
    color: #3399ff;
    background-color: #e9ecef;
    text-decoration: none;
}
.v:active{
    color: #fff;
}

.d{
    display:block;
    padding:.5rem 1rem;
    border:1px solid transparent;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
    border-radius:.25rem;
    color: #fff;
    font-weight:bold;
}

.d:hover{
    color: #DC1403;
    background-color: #e9ecef;
    text-decoration: none;
}
.d:active{
    color: #fff;
}
.reset {
    background-color: white;
}
.reset:hover{
    color: #3399ff;
    text-decoration: none; 
    background-color: white;
}
.reset:active {
    color: #FF0000
}
.dropbtn {
  background-color: #3399ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content li:hover { 
    background-color: #f1f1f1
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropbtn {
  background-color: #0000FF;
}

</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
  
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>     
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>

        
</head>
<body style="background-color">
<img src="/assets/WIN_logo.jpeg" width="100">
<% if user_signed_in? %>
<div class="dropdown"> 
          <button class="dropbtn"><i class="glyphicon glyphicon-user"></i></button>
          <div class="dropdown-content">
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'n' %></li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'n' %></li>
          </div>
        </div>
<div class = "container"> 
    <img src="/assets/WIN_logo.jpeg" width="100">
</div>

<div class="jumbotron text-center" style="color:white; background-color: #3399ff">
    <h1 style="color:white">Welcome to Women In Nuclear</h1>
    <h2> Hello,  <%= current_user.first_name %> <%= current_user.last_name %> </h2></div>
<tbody>
    <header>
        <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                <li class='nav-item' ><%= link_to 'My Milestones', mymilestones_path(current_user), class: 'n' %></li>
                <% if current_user.admin %>
                <li class='nav-item'><%= link_to 'View Milestones', milestones_path(current_user), class: 'n' %></li>
                <% end %>
                <li class='nav-item'><%= link_to 'Leaderboard', leaderboard_path, class: 'n' %></li>  
                <li class='nav-item'><%= link_to 'View Events', events_path, class: 'n' %></li> 
                </li>
            </ul>
        </div>
        <%= form_with url: session_meeting_path(current_user.id), local: true, method: :post do %>

        
            <strong><%= label_tag "event_id", "Event ID" %></strong>
                <%= text_field_tag "event_id", nil %>
            <%= submit_tag "Redeem Points" %>
          
            <% end %>
        
    </div>
</nav>
</header>
<div class="container">
<h1 class="text-center" style="margin-bottom:30px"> Points: <%= current_user.points %></h1>

</div>
<% if current_user.admin %>
<div class="container" style="margin-bottom:18px">
<%= form_tag root_path, :method => 'get' do %>
    <p class="text-left">
      <%= label_tag(:search_by_first_name, "Search By First Name: ") %>
      <%= text_field_tag :search_by_first_name, params[:search_by_first_name] %>
    
    
      <%= label_tag(:search_by_last_name, "Search By Last Name: ") %>
      <%= text_field_tag :search_by_last_name, params[:search_by_last_name] %>

      <%= submit_tag "Search", :name => nil %>
      <%= link_to 'Reset Points', session_resetpoints_path(current_user.id), class: 'reset' %>
    </p>
  <% end %>
  
  
  </div>
  <% end %> 
  <% if current_user.admin %>
    <table class="table table-striped" >
    <thead>
        <tr >
        
        <th style="color:#3399ff">First name</th>
        <th style="color:#3399ff">Last name</th>
        <th style="color:#3399ff">Email</th>
        <th style="color:#3399ff">Points</th>
        <th style="color:#3399ff">Admin</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    
        <% @users.each do |user| %>
        <tr>
            
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
            <td><%= user.admin %></td>
            <td><%= link_to 'Make Admin', toggle_admin_path(user), method: :put, data: { confirm: 'Are you sure?' }, class: 'v' %></td>
            <td><%= link_to 'Destroy', admin_destroy_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'd' %></td>
        </tr>
        <% end %>
    
    </table>
    <% else %>
    <table class="table table-striped" >
    <thead>

        <th scope="col" style="color:#3399ff"> First Name </th>
        <th scope="col" style="color:#3399ff"> Last Name </th>
        <th scope="col" style="color:#3399ff"> Email </th>
        <th scope="col" style="color:#3399ff"> Points </th>
        <th scope="col" style="color:#3399ff"> Admin </th>
     
    </thead>

        <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.points %></td>
            <td><%= user.admin %></td>
        </tr>
        <% end %>
    
    </table>
    <% end %>
</tbody>


    <%= submit_tag "Attend Meeting" %>
    <br> 
	
	
	
    <% if current_user.admin %>
	    <%= link_to 'View Meeting Log', meetinglogs_path(current_user) %> 
		<br></br>
        <%= link_to 'View Milestones', milestones_path(current_user) %>
    <% end %>
    <br>
    <%= link_to 'Leaderboard', leaderboard_path %>
    <br>
    <%= link_to 'My Milestones', mymilestones_path(current_user) %>
    <br>
    <%= link_to 'Help Page', help_index_path%>
<br>
<% end %>


<% else %>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Sign In', new_user_session_path %>
<% end %> 

