<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">     
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>     
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>     
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>
<body>
<div class = "container">
        <%= image_tag "WIN_logo.jpeg", style: "width: 20%" %>
</div>
<div class="jumbotron text-center" style="color:white; background-color: #3399ff">
  <h2>Meeting Validation</h2>
</div>

<div class="text-center">
<% if @event&.meeting_name%>
  <h4>Current Points: <%= current_user.points%></h4>
  <h4>Meeting Name: <%= @event.meeting_name %></h4>
  <h4>Meeting Description: <%= @event.description %></p>
  <h4>Meeting Point Value: <%= @event.points %></h4>
  <% if @entry %>
    <h4>Error! Meeting already attended!</h4>
  <% else %>
    <h3>Success! Meeting has been attended</h3>
	
  <% end %>
<% else %>
  <h3>Error! Meeting ID does not exist or time has run out!</h3>
<% end %>
</div>
<div class="text-center">
  <%= link_to 'Back', root_path, {class: "btn btn-light"}%>
</div>
</body>