<h1>Meeting Validation</h1>

  <h4>Current Points: <%= current_user.points%></h4>
  <h4>Meeting Name: <%= @event.meeting_name %></h4>
  <p>Meeting Description: <%= @event.description %></p>
  <p> Meeting Point Value: <%= @event.points %></p>
  
<% if @entry %>

  <h4>Meeting already logged</h4>

<% else %>
  <h3>Meeting not attended</h3>
  <%= form_with(url: new_meetinglog_path, method: "post") do |form| %>
  <%= form.text_field :user_id, value: @user.id%> 
  <%= form.text_field :meeting_id, value: @event.meeting_id%>  
   <div class="actions">
      <%= form.submit %>
  </div>
  <% end %> 
<% end %>
<%= link_to 'Back', root_path %>