<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">     
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>     
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>     
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>

<body>
<p id="notice"><%= notice %></p>

<div class = "container"> 
        <%= image_tag "WIN_logo.jpeg", style: "width: 20%" %>
</div>

<div class="jumbotron text-center" style="color:white; background-color: #3399ff">
  <h2>Milestones</h2>
</div>

<div class='container'>
<table class="table table-striped align-middle mb-0 bg-white">
<tbody>
  <thead>
    <tr>
      <th scope="col" style="color:#3399ff">Name</th>
      <th scope="col" style="color:#3399ff">Points</th>
      <th scope="col" style="color:#3399ff">Message</th>
      <th scope="col" style="color:#3399ff" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.name %></td>
        <td><%= milestone.points %></td>
        <td><%= milestone.message %></td>
        <td><%= link_to 'Show', milestone, {class: "btn btn-outline-info btn-sm"} %></td>
        <td><%= link_to 'Edit', edit_milestone_path(milestone), {class: "btn btn-outline-info btn-sm" } %></td>
        <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</tbody>
</table>
</div>
<br>
<div class="text-center col-xs-3">
	<%= link_to 'New Milestone', new_milestone_path, class: "btn btn-light mb-4" %>	
</div>
<br>
<div class="text-center">
    <%= link_to 'Back', root_path, {class: "btn btn-light"}%>
</div>
</body>