<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @milestone.points %>
</p>

<p>
  <strong>Message:</strong>
  <%= @milestone.message %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
