<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @event.meeting_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Points:</strong>
  <%= @event.points %>
</p>

<p>
<<<<<<< HEAD
  <strong>Meeting name:</strong>
  <%= @event.meeting_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
=======
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Sign Up', signup_path(@event) %> |
>>>>>>> origin/dev/kiran-test
<%= link_to 'Back', events_path %>
