<p id="notice"><%= notice %></p>

<h1>Meetinglogs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Meeting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetinglogs.each do |meetinglog| %>
      <tr>
        <td><%= meetinglog.user_id %></td>
        <td><%= meetinglog.meeting_id %></td>
        <td><%= link_to 'Show', meetinglog %></td>
        <td><%= link_to 'Edit', edit_meetinglog_path(meetinglog) %></td>
        <td><%= link_to 'Destroy', meetinglog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetinglog', new_meetinglog_path %>
