<h1>Attend Meeting</h1>

<% if @event&.start_time && Time.now >= @event.start_time && Time.now <= @event.end_time%>
  <%= form_with(model: current_user) do |form| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% current_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Current Points: <%= current_user.points%></h4>
  <h4>Meeting Name: <%= @event.meeting_name %></h4>
  <p>Meeting Description: <%= @event.description %></p>
  <p> Meeting Point Value: <%= @event.points %></p>
  <%= form.hidden_field :points, value: current_user.points + @event.points%>  

  <div class="actions">
      <%= form.submit %>
  </div>
  <% end %>
<% else %>
  <h3>Meeting ID Does Not Exist Or Time Has Run Out!</h3>
<% end %>



<%= link_to 'Back', accounts_path %>