<h1>Attend Meeting</h1>
<% if @event&.meeting_name%>

  <h4>Current Points: <%= current_user.points%></h4>
  <h4>Meeting Name: <%= @event.meeting_name %></h4>
  <p>Meeting Description: <%= @event.description %></p>
  <p> Meeting Point Value: <%= @event.points %></p>

  <%= form_with(model: current_user) do |form| %>
  <%= form.hidden_field :points, value: current_user.points + @event.points%>  
  <div class="actions">
      <%= form.submit %>
  </div>
  <% end %>
  
  <%form_with(model: meetinglog) do |log| %>
  <%= log.text_field :user_id, value:current_user.id %>
  <%= log.text_field :meeting_id, value: @event.meeting_id %>
  <div class="actions">
      <%= log.submit %>
  </div>
  <% end %>
  
<% else %>
  <h3>Meeting ID Does Not Exist Or Time Has Run Out!</h3>
<% end %>



<%= link_to 'Back', accounts_path %>