<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @account.password_digest %>
</p>

<p>
  <strong>Points:</strong>
  <%= @account.points %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @account.admin %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<td><%= link_to 'Attend Meeting', account_meeting_path(@account) %></td> |
<%= link_to 'Back', accounts_path %>
